:host {
  display: block;
  background-color: #111827;
  height: 100%;
  padding: 20px;
  color: #9ca3af;
  h1 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  ul {
    padding-block: 10px;
    li {
      padding: 10px 20px;
      font-weight: 900;
      border-radius: 10px;
      cursor: pointer;
      
      &:is(.active, :hover) {
        background-color: #374151;
        color: #d1d5db;
      }
    }
  }
}