<h1>Template</h1>
<hr />

<ul>
  <li>basicos</li>
</ul>

<h1 class="mt-3">Reactive</h1>
<hr />

<ul>
  <li
    *ngFor="let item of reactiveMenu"
    [routerLink]="[ item.ruta ]"
    routerLinkActive="active"
  >
  <!-- TODO: para que funcione el routerLink se debe importar en el modulo el RouterModule -->
    {{ item.texto }}
  </li>
</ul>

<h1 class="mt-3">Validaciones</h1>
<hr />

<ul>
  <li
    *ngFor="let item of authMenu"
    [routerLink]="[ item.ruta ]"
    routerLinkActive="active"
  >
    {{ item.texto }}
  </li>
</ul>