.form {
  font-size: 18px;
  padding-top: 10px;
  input {
    //outline: es la propiedad que se activa cuando esta en focus
    outline: none;
    // border: none;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: blue;
  }
}
.label {
  color: rgb(8, 52, 134);
  // para centrar con el grid pero se tiene que aplicar al item dentro del contenedor
  align-self: center;
}
.wrapper-input {
  display: grid;
  grid-template-columns: 10vw 20vw 1fr;
  gap: 10px;
  margin-top: 10px;
}

.text-danger {
  color: red;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
}

.btn-primary {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  &:is(:hover, :focus) {
    background-color: rgb(48, 48, 140);
    font-weight: 700;
  }
}

.data-json {
  font-size: 18px;
}
