<h2>Validaciones Reactivas</h2>
<hr />

<div class="form">
  <form
    autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="submitFormulario()"
  >
    <!-- Nombre -->
    <div class="wrapper-input">
      <label class="label" for="">Nombre</label>
      <input
        type="text"
        placeholder="Nombre del usuario"
        formControlName="nombre"
      />
      <span class="text-danger" *ngIf="campoValido('nombre')">
        Debe de ser en formato de nombre y apellido
      </span>
    </div>

    <!-- Email -->
    <div class="wrapper-input">
      <label class="label" for="">Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <span class="text-danger" *ngIf="campoValido('email')">
        {{ emailErrorMsg }}
      </span>
    </div>

    <!-- Username -->
    <div class="wrapper-input">
      <label class="label" for="">Username</label>
      <input type="text" placeholder="Username" formControlName="username" />
      <span class="text-danger" *ngIf="campoValido('username')">
        El username no puede ser Strider
      </span>
    </div>

    <!-- Password -->
    <div class="wrapper-input">
      <label class="label" for="">Password</label>
      <input
        type="password"
        placeholder="************"
        formControlName="password"
      />
      <span class="text-danger" *ngIf="campoValido('password')">
        La contraseña debe de ser mayor de 6 caracteres.
      </span>
    </div>

    <!-- Password2 -->
    <div class="wrapper-input">
      <label class="label" for="">Confirmar</label>
      <input
        type="password"
        placeholder="************"
        formControlName="password2"
      />
      <span class="text-danger" *ngIf="campoValido('password2')">
        Las contraseñas deben de ser iguales
      </span>
    </div>

    <div class="col">
      <!-- miFormulario.pending para ver si el formulario esta completado -->
      <button
        class="btn-primary"
        type="submit"
        [disabled]="miFormulario.pending"
      >
        Crear
      </button>
    </div>
  </form>
</div>

<div class="data-json">
  <h4>Form Valid: {{ miFormulario.valid }}</h4>
  <h4>Form Status: {{ miFormulario.status }}</h4>
  <h4>Form Pending: {{ miFormulario.pending }}</h4>
  <h4>Form errors</h4>
  <pre>{{ miFormulario.errors | json }}</pre>

  <br />

  <h5>Nombre Error</h5>
  <pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>

  <h5>Email Error</h5>
  <pre>{{ miFormulario.controls["email"].errors | json }}</pre>

  <h5>Username Error</h5>
  <pre>{{ miFormulario.controls["username"].errors | json }}</pre>

  <h5>Password Error</h5>
  <pre>{{ miFormulario.controls["password"].errors | json }}</pre>

  <h5>Confirmar Error</h5>
  <pre>{{ miFormulario.controls["password2"].errors | json }}</pre>
</div>
