<h1>Formulario Reactivos Dinamicos</h1>
<hr />

<div class="formulario">
  <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="form-wrapper">
      <label>Nombre</label>
      <div class="input-wrapper">
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <span class="form-danger" *ngIf="campoEsValido('nombre')"
          >debe ser de 3 letras</span
        >
      </div>
    </div>

    <div class="form-wrapper">
      <label>Agregar</label>
      <div class="input-wrapper">
        <!-- TODO: aca usamos un [formControl]="nuevoFavorito" y lo tenemos que poner 
          entre llaves cuadradas para acceder a su valor -->
        <input
          type="text"
          class="form-control"
          [formControl]="nuevoFavorito"
          placeholder="Agregar favorito"
          (keyup.enter)="agregarFavorito()"
        />

        <button class="btn" type="button" (click)="agregarFavorito()">
          Agregar
        </button>
      </div>
    </div>

    <div class="form-wrapper">
      <label>Favoritos</label>
      <div class="col-sm-9" formArrayName="favoritos">
        <div
          class="input-group"
          *ngFor="let favorito of favoritosArr.controls; let i = index"
        >
          <!-- *ngFor="let favorito of miFormulario.controls['favoritos'].controls; let i = index"> -->
          <!-- *ngFor="let faborito of miFormulario.controls.favoritos; let i = index"> -->

          <input class="form-control" [formControlName]="i" />
          <span>
            {{ favorito.value }}
          </span>
          <button
            class="btn btn-danger"
            type="button"
            (click)="borrarFavorito(i)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
  </form>
</div>

<br />

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br />

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ nuevoFavorito.valid }}</pre>

<span>nuevoFavorito Value</span>
<pre>{{ nuevoFavorito.value }}</pre>
