:host {
  display: block;
  color: black;
  font-size: 18px;

  .title {
    color: blueviolet;
    font-weight: 700;
  }
  .input-wrapper {
    margin-bottom: 20px;
  }

  .btn-primary {
    color: white;
    background-color: blue;
    padding: 8px 20px;
    border-radius: 10px;
    &:is(:hover, :focus) {
      background-color: rgb(64, 64, 218);
    }
  }
}
