<h1>Formulario Reactivos: Switches</h1>
<hr />

<div class="formulario">
  <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="form-wrapper">
      <!-- Radio -->
      <label class="title">Genero</label>
      <div class="input-wrapper">
        <div class="form-check">
          <input
            type="radio"
            value="M"
            id="radioMasculino"
            formControlName="genero"
          />
          <label class="form-check-label" for="radioMasculino">
            Masculino
          </label>
        </div>

        <div class="form-check">
          <input
            type="radio"
            value="F"
            id="radioFemenino"
            formControlName="genero"
          />
          <label class="form-check-label" for="radioFemenino"> Femenino </label>
        </div>
      </div>
      <!-- Switches -->
      <div class="input-wrapper">
        <label class="title">Notificaciones</label>
        <div>
          <input
            type="checkbox"
            formControlName="notificaciones"
            id="flexSwitchCheckChecked"
          />
          <label class="form-check-label" for="flexSwitchCheckChecked"
            >Quiero recibir notificaciones</label
          >
        </div>
      </div>

      <!-- Switches -->
      <div class="input-wrapper">
        <label></label>
        <div>
          <input
            class="form-check-input"
            id="flexCheckDefault"
            formControlName="condiciones"
            type="checkbox"
            />
          <label class="form-check-label" for="flexCheckDefault">
            Términos y condiciones de uso
          </label>
        </div>
      </div>

      <!-- Boton submit -->
      <div class="row">
        <button class="btn-primary" type="submit">Guardar</button>
      </div>
    </div>
  </form>
</div>

<br>

<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ miFormulario.controls?.terminos?.errors | json }}</pre> -->

<!-- <br>
<pre>Condiciones: </pre> -->


