<h1>Formulario Reactivos Basicos</h1>
<hr />

<div class="formulario">
  <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="form-wrapper">
      <label>Producto</label>
      <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="producto" />
        <span class="form-danger" *ngIf="campoEsValido('producto')"
          >debe ser de 3 letras</span
        >
      </div>
    </div>

    <div class="form-wrapper">
      <label>Presios</label>
      <div class="input-wrapper">
        <input type="number" class="form-control" formControlName="precio" />
        <span class="form-danger" *ngIf="campoEsValido('precio')"
          >el precio debe ser 0 o mayor</span
        >
      </div>
    </div>

    <div class="form-wrapper">
      <label>Existencias</label>
      <div class="input-wrapper">
        <input
          type="number"
          class="form-control"
          formControlName="existencias"
        />
        <span class="form-danger" *ngIf="campoEsValido('existencias')">
          Las existencias deben de ser 0 o mayor
        </span>
      </div>
    </div>

    <!-- <button class="btn btn-primary" type="submit" [disabled]="miFormulario.invalid">Guardar</button> -->
    <button
      class="btn btn-primary"
      type="submit"
    >
      Guardar
    </button>
  </form>
</div>

<br />
<br />

<div class="form-properties">
  <span>Valid</span>
  <pre style="color: green">{{ miFormulario.valid }}</pre>

  <span>Invalid</span>
  <pre style="color: red">{{ miFormulario.invalid }}</pre>

  <span>Pristine</span>
  <pre>{{ miFormulario.pristine }}</pre>

  <span>Touched</span>
  <pre>{{ miFormulario.touched }}</pre>

  <span>Value</span>
  <pre>{{ miFormulario.value | json }}</pre>

  <span>Precio</span>
  <pre>{{ miFormulario.controls["precio"].errors | json }}</pre>
</div>
