:host {
  display: block;
  font-size: 20px;
  .formulario {
    margin: 10px;
    .form-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;
      padding-block: 8px;
    }
  }
  label {
    font-weight: 700;
    width: 15%;
  }
  button {
    background-color: rgb(59 130 246);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    
  }
  pre {
    margin-bottom: 15px;
  }
  .form-danger {
    color: red;
    padding-left: 10px;
    font-size: 14px;
  }
  .form-control {
    // border: none;
    //el outline se muestra cuando esta en focus
    // outline: none;
    width: 300px;
    padding: 8px 10px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #d1d5db;
    color: rgb(17 24 39);
    &:is(:focus) {
      // border-width: 2px;
      // border-color: rgb(59 130 246);
      outline-color: rgb(59 130 246);
    }
  }
  .form-properties {
    padding-left: 10px;
  }
}